.riskWrapper{
    display: flex;
    justify-content: flex-start;
    justify-content: space-around;
    
}
.riskWrapper:nth-child(2n){
    background-color: #E8E8E8;
}

.riskCell{
    padding:  15px;
    font-size: 16px;
    width: 45%;
}
.riskTitle{
    font-weight: bold;
    padding: 5px;
    width: 45%; 
    font-size: 16px;
}
.riskTable{
    width: 50%;
}